@model List<Carro>
@{
    ViewData["Title"] = "Home";
    var marcas =(List<Marca>)ViewData ["Marcas"];
}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">9xCar</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">Amor por Carros</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Cars</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">9xCar</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Bem-vindo à revista automotiva onde as máquinas ganham vida,
                    os motores contam histórias e a paixão pela estrada se unem.</h2>
                <a class="btn btn-primary" id="buttonsColor" href="#about">Vamos lá!</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">9xCar</h2>
                <p class="text-white-50">
                    Prepare-se para uma viagem através do universo dos automóveis, onde cada página é uma trilha sonora
                    para os amantes da velocidade e da excelência automotiva.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="~/assets/img/x6.png" alt="foto bmwx6"/>
    </div>
</section>

<section class="pt-5 pb-3 text-center container">
    <div class="row">
        <div class="col mx-auto">
            <p class=" fs-1 text-dark">Marcas</p>
            <div class="group"> 
                <button id="btn-all" class="btn btn-md my-2 text-white bg-dark btn-filter efeitobotao" onclick="filter('all')">
                    Ver Todos
                </button>
                @foreach (var marca in marcas)
                {
                    <button id="btn-@marca.Nome" class="btn btn-sm my-2 text-dark btn-filter efeitobotao"
                        style="background-color: @marca.Cor" onclick="filter('@marca.Nome')"> 
                        @marca.Nome
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <div class="contCard center">

            @foreach (var carro in Model)
            {
                <!-- Card Carros -->
                <div class="card @carro.Marca efeitocard" style="width: 18rem;">
                    <img src="@carro.Imagem" class="card-img-top" alt="@carro.Nome">
                    <div class="card-body">
                        <div class="cont-title center">
                            <h5 class="card-title">@carro.Nome</h5>
                        </div>
                        <p class="card-text">@carro.Marca</p>
                        <p class="card-text">@carro.Tipo</p>
                        <div class="cont-butCard center">
                            <a asp-action="Details" asp-route-id="@carro.Numero" class="btn btn-primary" id="buttonsColor">
                                Ver Detalhes
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Fim Card Carros -->
            }
            <div id="zeroCarro" class="col-lg-12 text-center d-none">
                <h1 class="my-3 text-danger">Nenhum Carro Encontrado</h1>
            </div>

    </div>

</section>
